body,
li,
button,
input {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eee;
  margin: 2rem 0;
}

input[type='checkbox'] {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
